@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<!-- Display all professors to the web page -->
<p>List of professors:</p>
@foreach (var p in Model.Professors)
{
    <p>@p.FirstName @p.LastName</p>
}